
:root {
    --green: #006400;
    --white: #ffffff;
  }


.green-bg{
    background-color: var(--green)!important;
}

.green-bg:hover{
    opacity: 0.8!important;
}

.green-text{
    color: var(--green)!important;
}


.white-text{
    color: var(--white)!important;
}

.white-bg{
    background-color: var(--white)!important;
}

.white-bg:hover{
    opacity: 0.8!important;
}

.white-svg{
    fill: url(--white)!important;
    z-index: 9999!important;
}

.switch-bg-lua{
    background-image: url("../public/images/switch-lua.svg"), url("../public/images/switch-el-1.svg") !important;
    background-color: grey!important;
    z-index: 999;
}

.switch-bg-dia{
    background-image: url("../public/images/switch-dia.svg"), url("../public/images/switch-el-light-1.svg") !important;
    background-color: #92868644!important;
    z-index: 999;
}

.green-svg{
    fill: url(--green)!important;
    z-index: 9999!important;
}

.hr-green{
    height: 1px;
    flex: 1 0 0;
    background-color: var(--green)!important;
    z-index: 999!important;
}

.hr-white{
    height: 1px;
    flex: 1 0 0;
    background-color: var(--white)!important;
    z-index: 999!important;
}



.overlay{
    background: url("../public/images/slalt-oculos-dourado-1.png");
    mix-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    padding: 0!important;
    margin: 0!important;
    
}


*{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.square{
    width: 45px;
    height: 40px;
}

.squareicons{
    font-size: 25px!important;
}