// --root 
$dark: #031200;
$light: #ffffff38;
$link-decoration: none;
$primary: #006400;


/// light 
$link-color: $light;
$list-group-bg: $dark;
$list-group-color: $light;
$body-bg: $light;

/// dark  
$bs-body-bg: $dark;
$body-bg-dark: $dark;
$link-color-dark: $dark;
$list-group-color-dark: $dark;
$list-group-bg-dark: $light;



//import 
@import '../node_modules/bootstrap/scss/bootstrap';